<h1>GameSessions#show</h1>
<p>Find me in app/views/game_sessions/show.html.erb</p>
<div>
  <p> <h2>title: <%=@gamesession.name %></h2>  </p>
  <p>created by: <%= @gamesession.user.username %> </p>
  <p>description: <%= @gamesession.description %> </p>
  <p>start_time: <%= @gamesession.start_time %> </p>
  <p>end_time: <%= @gamesession.end_time %> </p>
  <p>min_player: <%= @gamesession.min_players %> </p>
  <p>max_player: <%= @gamesession.max_players %> </p>
  <p>players <% @gamesession.players.each do |player| %>
    <%=  player.user.username%>
  <% end %>
  <ul>
    <li><%= link_to 'Join the game', new_game_session_player_path(@gamesession) %></li>
    <li><%=  link_to 'All the game sessions', game_sessions_path %></li>
    <li><%= link_to 'Edit the game session', edit_game_session_path %></li>
  </ul>
</div>
