<h1>Gamesessions#show</h1>
<p>Find me in app/views/gamesessions/show.html.erb</p>


<h2><%= @gamesession.user_id %></h2>
<p><%= @gamesession.place_id %></p>
<p><%= @gamesession.startTime %></p>
<p><%= @gamesession.endTime %></p>
<p><%= @gamesession.gameorganizer %></p>
